.button {
  font: inherit;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.95);
}

.button:hover,
.button:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.button--primary {
  color: white;
  background: brown;
}
.button--primary:hover,
.button--primary:active {
  background: rgb(110, 28, 28);
}
.button--secondary {
  color: brown;
  border: 1px solid brown;
  background: white;
}
.button--secondary:hover,
.button--secondary:active {
  background: brown;
  color: white;
}

.button--dark {
  color: white;
  background-color: rgb(110, 28, 28);
}

.button--dark:hover,
.button--dark:active {
  background: rgb(82, 20, 20);
}

.button--small {
  padding: 0.2rem 1.5rem;
}

.button--square {
  border-radius: 0.5rem;
}

.button:disabled,
.button:disabled:hover {
  border: 1px solid #999999;
  color: #999999;
  background-color: #cccccc;
  box-shadow: none;
  cursor: default;
}
