.wrapper {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-container {
  position: relative;
  display: flex;
  height: 2rem;
  width: 4rem;
  margin: 0 1rem;
}

.toggle {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.toggle:checked {
  background-color: var(--green);
}

.toggle:not(:checked) {
  background-color: var(--red);
}

.toggle-knob {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: #fcfcfc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  pointer-events: none;
}

.toggle:checked + .toggle-knob {
  left: 15%;
}

.toggle:not(:checked) + .toggle-knob {
  left: calc(85% - 1.25rem);
}

.label {
  font-weight: bold;
  font-size: 1.25rem;
}

.label.label--income {
  color: var(--green);
}
.label.label--expense {
  color: var(--red);
}
