:global(.capHeading) {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: var(--small-gap);
}

:global(.main-component) {
  margin-bottom: var(--large-gap);
}

h1 {
  font-weight: 500;
  font-size: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: lightgray 1px solid;
  margin-bottom: var(--reg-gap);
}

.title {
  margin-top: var(--xlarge-gap);
}

.container {
  width: var(--view-width);
  margin: var(--xlarge-gap) auto;
}

.button {
  width: 100%;
}
