:global(.capHeading) {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0.5rem;
}

h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.02em;
}

.title {
  margin-top: 2rem;
}

.container {
  width: 26rem;
  margin: 2.5rem auto;
}

.button {
  width: 100%;
}
