.relative-wrapper {
  overflow-x: hidden;
  position: relative;
  height: 3rem;
}

.relative-wrapper:not(:last-child) {
  margin-bottom: var(--reg-gap);
}

.absolute-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100vw;
  display: flex;
}

.relative-wrapper:hover .item {
  width: calc(var(--view-width) - 6rem);
}

.item {
  padding: 0.5rem 2rem 0.5rem 1.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  width: calc(var(--view-width));
}

.item:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1rem;
}

.item--expense:after {
  background-color: var(--red);
}

.item--income:after {
  background-color: var(--green);
}

.action {
  margin-left: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  color: white;
  display: flex;
  cursor: pointer;
}

.action--edit {
  background-color: var(--blue);
}
.action--delete {
  background-color: rgb(230, 0, 0);
}

.action * {
  height: 1.5rem;
  width: 1.5rem;
}
